
.card{
    background-color: red;
    min-height: 200px;
    min-width: 200px;
    border-radius: 12px;
    margin-right: 2rem;
}
.image{
    border-radius: 50%;
    height: 50px;
    width: 60px;
    margin-top: 10px;

}
p{
    color: blue;
}
