*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}
.App {
  background-color: rgb(48, 92, 58);
  height: 100vh;
  width: 100vw;
}
.Search-bar{
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}


