.App {
  text-align: center;
 
    background: linear-gradient(to right bottom, #e78318,#c89666);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
 
}

*{
  margin: 0;
  padding: 0;

}
.task-input{ 
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 90px;
  margin-left: 65px;
  color: rgb(255, 255, 255);
  background-color: #bc1818;
  border: 1px solid #c89666;
  border-radius: 10px;
}
.task{
  border: 1px solid rgb(144, 21, 21);
   
   
  margin-left: 700px;
  margin-right: 600px;
    color: rgb(22, 15, 15);
  }
  input:focus,button:focus{
    outline: none;
  }
  